.cartContact
    display block
    margin-bottom 50px
    sf()
.cartContactHeader
    ff(bold,3.2,3.2)
    padding 35px 20px 0px
    margin-bottom 30px
    sf()
.cartContactForm
    display block
    padding 0px 20px 0px
    sf()
.cartContactFormItem
    display block
    width 100%
    margin-bottom 20px
    sf()
.cartContactFormItemLabel
    ff(bold,1.8,2.2)
    margin-bottom 10px
    sf()
    @media phone
        column(3/9)
        padding-top 14px
    @media tablet
        column(3/9)
        padding-top 14px
.cartContactFormItemInput
    p
        display none
    @media phone
        column(6/9)
        input
            margin-bottom  15px
        p
            display block
            color fontGreys
            ff(light_f,1.6)
            padding-right 15px
    @media tablet
        column(6/9)
        input
            margin-bottom  15px
        p
            display block
            color fontGreys
            ff(light_f,1.6)
            padding-right 15px
.cartContactFormItemCheckbox
    @media phone
        column(6/9,3/9)
    @media tablet
        column(6/9,3/9)

.cartContactFormItemCheckboxLabel
    display table-cell
    vertical-align middle
.cartContactFormItemCheckboxInput
    display table-cell
    vertical-align middle
.cartContactFormItemButton
    display block
    margin-top 20px
    sf()
    @media phone
        column(4/9,3/9)
    @media tablet
        column(4/9,3/9)