// Normally mainpage styles
//category

//topic
.topic
	font-size: 42px
	line-height: 1.3
	background: url(../img/topic-bg-right.png) no-repeat 101% 50%, url(../img/topic-bg-left.png) no-repeat 0 50% 
	background-size: contain
	+pb
	+clr
	.container
		padding: 50px 90px 52px 13px

//category
.category
	font-size: 0 
	.category__item
		position: relative
		width: 20%
		overflow: hidden
		display: inline-block
		+transition(all 0.2s linear)
		&:hover
			img
				opacity: 1
		img
			width: 100%
			opacity: 0.7
			display: block
			+transition(all 0.2s linear)
	.category__link, 
	.category__prise
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 100%
		text-transform: uppercase
		color: $white
		display: inline-block
		+vertical
		font-size: 30px
		+pb
	.category__prise
		height: 160%
		font-size: 16px
		text-align: left
		display: none
		.ruble
			font-size: 15px
	.category__item_lime
		background: #a1ba00
	.category__item_light-green
		background: #007a5b
	.category__item_blue
		background: #2852af
	.category__item_light-blue
		background: #28a2b0
	.category__item_green
		background: #2f7900
	.category__item_azure
		background: #0078ff
	.category__item_red
		background: #b4001a

//clause
.clause
	padding: 33px 0
	font-size: 0
	+clr
	.title 
		padding-bottom: 19px
	.clause__item
		float: none
		margin-bottom: 35px 
		color: $blue
		vertical-align: top 
		text-decoration: none
		display: inline-block
	.clause__row
		margin: 6px 0
	.clause__top
		position: relative
		margin-bottom: 20px
		overflow: hidden
		display: block
		&:hover
			background: #000
			.clause__play
				background: #cc181e
			img
				opacity: .95
		img
			width: 100%
			display: block
		.clause__play
			position: absolute
			top: 50%
			left: 50%
			margin: -25px 0 0 -33px
			width: 66px
			height: 50px
			background: #1d1d1d
			+border-radius(8px)
			&:before
				position: absolute
				content: ""
				top: 50%
				left: 50%
				margin: -9px 0 0 -4px
				+arr(15, 19, $white, r)
		.clause__die
			position: absolute
			bottom: -17%
			right: -70%
			height: 35%
			width: 142%
			background: #4a99ce
			+rotate(-16)
		.clause__text
			position: absolute
			top: 0
			left: 0
			height: 35%
			width: 100%
			color: $white
			display: inline-block
			+vertical
			&:first-letter
				text-transform: uppercase
		.clause__country
			font-size: 32px
		.clause__city
			font-size: 20px
		.clause__price
			font-size: 24px
	.clause__name, .clause__title, .clause__country
		+pb
	.clause__name
		font-size: 16px
	.clause__name, .clause__title
		color: #0078ff
	.clause__title
		font-size: 24px
		line-height: 1.1
	.clause__text
		font-size: 18px
		color: $black
		margin-top: 13px
		+pl
		line-height: 1.25
		&.clause__text_price
			padding-top: 15px
	&.clause_news 
		.clause__name
			font-size: 20px
		.clause__title
			font-size: 32px
		.clause__text
			font-size: 18px
	&.clause_school
		background: #f2f2f2
		padding-bottom: 17px
		.clause__top
			margin-bottom: 14px
		.clause__row
			margin: 3px 0 
		.clause__text
			margin-top: 18px
	&.clause_tour
		.clause__item
			margin-bottom: 15px
		.clause__top
			margin-bottom: 14px
		.clause__row
			margin: 3px 0 
		.clause__text
			margin-top: 18px
		.clause__country
			font-size: 48px

//max-width: 992
@media screen and (max-width: 992px)
	.topic
		background-size: cover
	.category
		.category__item
			width: 50%
			height: 127px
			text-align: right
			img
				float: right
				height: 100%
				width: auto
			br
				display: none
		.category__link
			height: 80%
			padding-left: 17px
			font-size: 24px
			text-align: left
		.category__prise
			padding-left: 17px
			display: block
	.clause
		.clause__top
			.clause__country
				font-size: 32px
//max-width: 768
@media screen and (max-width: 768px)
	.text-mob-none
		display: none
	.category
		.category__item
			height: 81px
			width: 100%
		.category__prise
			+pr
	.clause 
		padding: 30px 0
		.title
			font-size: 32px !important
			margin-top: 4px
			margin-bottom: 11px
			padding-bottom: 10px
		.clause__text
			font-size: 15px
		&.clause_news,
		&.clause_school,
		&.clause_tour
			.clause__title
				font-size: 22px
			.clause__name
				font-size: 16px
		.clause__item
			position: static !important
			.clause__top
				margin-bottom: 15px
				img
					height: auto
		.clause__row
			margin: 10px 0 7px
		.clause__text
			margin-top: 9px
			line-height: 1.2
		&.clause_school
			padding-top: 40px
			.clause__title
				line-height: 1.4
			.clause__text
				margin-top: 7px
				line-height: 1.35
		&.clause_tour
			padding-bottom: 21px
	#news
		height: auto !important
	.footer__title-2
		font-size: 24px
@media screen and (max-width: 322px)
	.topic
		display: none