.bottomMenu
    display block
    background-color bgGrey
    padding-top 60px
    padding-bottom 40px
    padding 60px 20px 40px 20px
    sf()
.bottomMenuLeft,
.bottomMenuRight
    col(1/1)
    @media phone
        col(1/2)
    @media tablet
        col(1/2)
.bottomMenuItem
    display block
    margin-bottom 20px
    sf()
    a
        color whites
        ff(bold,2.4,2.4)
        &:hover
            text-decoration none
        i
            color lightReds
            padding-left 5px
            font-style normal

.bottomMenuItemSubItem
    @extend .bottomMenuItem
    padding-left 10px
    a
        color fontLightGreys
        ff(bold,1.8,2.4)

.bottomMenuSocial
    a
        color whites
        ff(icon,3.2,3.2)
        margin-right 10px
        &:hover
            text-decoration none
