@font-face {
    font-family: "ProximaNova-BoldIt";
    src: url("../fonts/Proxima-Nova-Bold-Italic/Proxima-Nova-Bold-Italic.eot");
    src: url("../fonts/Proxima-Nova-Bold-Italic/Proxima-Nova-Bold-Italic.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Proxima-Nova-Bold-Italic/Proxima-Nova-Bold-Italic.woff") format("woff"),
         url("../fonts/Proxima-Nova-Bold-Italic/Proxima-Nova-Bold-Italic.ttf") format("truetype"),
         url("../fonts/Proxima-Nova-Bold-Italic/Proxima-Nova-Bold-Italic.svg#ProximaNova-BoldIt") format("svg");
    font-weight: 700;
    font-style: normal;
}