@font-face {
    font-family: "ProximaNova-RegularIt";
    src: url("../fonts/ProximaNova-Regular-Italic/ProximaNova-Regular-Italic.eot");
    src: url("../fonts/ProximaNova-Regular-Italic/ProximaNova-Regular-Italic.eot?#iefix") format("embedded-opentype"),
         url("../fonts/ProximaNova-Regular-Italic/ProximaNova-Regular-Italic.woff") format("woff"),
         url("../fonts/ProximaNova-Regular-Italic/ProximaNova-Regular-Italic.ttf") format("truetype"),
         url("../fonts/ProximaNova-Regular-Italic/ProximaNova-Regular-Italic.svg#ProximaNova-RegularIt") format("svg");
    font-weight: regular;
    font-style: normal;
}