@font-face {
    font-family: "ProximaNova-Black";
    src: url("../fonts/ProximaNova-Black_0/ProximaNova-Black_0.eot");
    src: url("../fonts/ProximaNova-Black_0/ProximaNova-Black_0.eot?#iefix") format("embedded-opentype"),
         url("../fonts/ProximaNova-Black_0/ProximaNova-Black_0.woff") format("woff"),
         url("../fonts/ProximaNova-Black_0/ProximaNova-Black_0.ttf") format("truetype"),
         url("../fonts/ProximaNova-Black_0/ProximaNova-Black_0.svg#ProximaNova-Black") format("svg");
    font-weight: 900;
    font-style: normal;
}