@font-face {
    font-family: "ProximaNova-Light";
    src: url("../fonts/Proxima-Nova-Light/Proxima-Nova-Light.eot");
    src: url("../fonts/Proxima-Nova-Light/Proxima-Nova-Light.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Proxima-Nova-Light/Proxima-Nova-Light.woff") format("woff"),
         url("../fonts/Proxima-Nova-Light/Proxima-Nova-Light.ttf") format("truetype"),
         url("../fonts/Proxima-Nova-Light/Proxima-Nova-Light.svg#ProximaNova-Light") format("svg");
    font-weight: 300;
    font-style: normal;
}