@font-face {
    font-family: "ProximaNova-Extrabld";
    src: url("../fonts/ProximaNova-Xbold/ProximaNova-Xbold.eot");
    src: url("../fonts/ProximaNova-Xbold/ProximaNova-Xbold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/ProximaNova-Xbold/ProximaNova-Xbold.woff") format("woff"),
         url("../fonts/ProximaNova-Xbold/ProximaNova-Xbold.ttf") format("truetype"),
         url("../fonts/ProximaNova-Xbold/ProximaNova-Xbold.svg#ProximaNova-Extrabld") format("svg");
    font-weight: 800;
    font-style: normal;
}