.productPageMenuWrap
    display block
    position relative
    sf()

.productPageMenu
    display none
    @media phone
        col(1/3)
        top 0px
        position relative
        position sticky !important
        z-index 500
    @media tablet
        col(1/3)
        top 0px
        position relative
        position sticky !important
.productPageMenuItem
    display block
    cursor pointer
    color links
    padding 0px 20px
    height 60px
    ff(bold,2.6,6)
    bg(right 20px)
    a
        &:hover
            text-decoration none
.productPageMenuActive
    display block
    background-color bgGrey
    color whites
    a
        color whites

