.productPageBrand
    display block
    sf()
.productPageBrandHeader
    display block
    cursor pointer
    color links
    padding 0px 20px
    height 60px
    ff(bold,2.6,6)
    bg(right 20px)
    sf()
    @media phone
        display none
    @media tablet
        display none
.productPageBrandHeaderActive
    background-color bgGrey
    color white
.productPageBrandHeaderTablet
    display none
    @media phone
        display block
        position relative
        cursor pointer
        color blacks
        padding 60px 20px 40px
        ff(bold,3.6,3.6)
    @media tablet
        display block
        position relative
        cursor pointer
        color blacks
        padding 60px 20px 40px
        ff(bold,3.6,3.6)
.productPageBrandHeaderTabletButton
    display block
    position absolute
    top 70px
    right 25px
    ff(icon,1.6,1.6)
    a
        color blacks
        &:hover
            text-decoration none
.productPageBrandText
    display block
    sf()
    color fontGreys
    ff(normal,1.6,2,0)
    padding 40px 20px 0px
    margin-bottom 40px
    p
        display block
        margin-bottom 20px
        sf()
.productPageBrandTextImage
    display inline-block
    width 100%
    margin-bottom 20px
    text-align center