.productPageSocialItems
    display none
    @media phone
        padding-top 20px
        display block
        width 100%
        text-align center

.productPageSocialItemVkontakte,
.productPageSocialItemFacebook,
.productPageSocialItemInstagramm,
.productPageSocialItemGoogle,
.productPageSocialItemMail
    display inline-block
    width 33px
    height 31px
    margin-right 10px
    bg()
    a
        display block
        width 33px
        height 31px