.cartShipping
    background-color lightGreys
    sf()
.cartShippingHeader
    ff(bold,3.2,3.2)
    padding 30px 20px 0px
    margin-bottom 30px
    sf()
.cartShippingForm
    display block
    sf()
.cartShippingFormHeader
    ff(bold,1.8,2.2)
    padding 0px 20px 0px
    margin-bottom 10px
    sf()
    @media phone
        col(3/12)
        padding-top 20px
    @media tablet
        col(3/12)
        padding-top 10px
        padding-left 20px
.cartShippingForm
    display block
    margin-bottom 35px
    sf()
    @media phone
        padding 0px 20px
.cartShippingFormItems
    display block
    padding 10px 0px 10px
    background-color darkGreys
    sf()
    @media phone
        col(9/12)
        background none
    @media tablet
        col(9/12)
        padding-right 20px
        background none
.cartShippingFormItem
    column(1/1)
    padding 10px 20px
    sf()
    input
        width 100%
    &:first-child
        padding-top 20px
    @media phone
        column(1/3,cycle:3)
        padding-top 0
        &:first-child
            padding-top 0px
    @media tablet
        column(1/3,cycle:3)
        padding-top 0
        &:first-child
            padding-top 0px
.cartShippingFormItemThree
    column(1/3)

.cartShippinTypeForm
    display block
    sf()
    @media phone
        margin 0px 20px
    @media tablet
        margin 0px 20px
.cartShippinTypeFormBorder
    @extend .cartShippinTypeForm
    @media phone
        border-bottom 4px solid borderGreys
        margin-bottom 30px
    @media tablet
        border-bottom 4px solid borderGreys
        margin-bottom 30px
.cartShippinTypeFormHeader
    ff(bold,1.8,2.2)
    padding 0px 20px 0px
    margin-bottom 0px
    sf()
    @media phone
        col(3/12)
        padding-top 10px
    @media tablet
        col(3/12)
        padding-top 10px
        padding-left 20px
        padding-right 0px
.cartShippinTypeFormItems
    display block
    padding 10px 0px 10px
    margin 0px 20px
    margin-bottom 35px
    sf()
    @media phone
        col(9/12)
        &:last-child
            margin-bottom 0px
    @media tablet
        col(9/12)
        padding-right 20px
.cartShippinTypeFormItem
    display table
    vertical-align middle
    // padding 0px 20px
    margin-bottom 3px
    background-color darkGreys
    min-height 80px
    width 100%
    sf()
    @media phone
        background none
        padding-top 0
        min-height 0px
        margin-bottom 30px
        &:first-child
            padding-top 0px
    @media tablet
        background none
        padding-top 0
        min-height 0px
        margin-bottom 30px
        &:first-child
            padding-top 0px
.cartShippinTypeFormItemInput
    display table-cell
    vertical-align middle
    width 35px
    @media phone
        vertical-align top
    @media tablet
        vertical-align top
.cartShippinTypeFormItemLabel
    display table-cell
    vertical-align middle
    width 58%
    label
        ff(normal,1.8)
        @media phone
            margin-bottom 10px
        @media tablet
            margin-bottom 10px
    p
        display none
        @media phone
            display block
            color fontGreys
            ff(light_f,1.6)
            padding-right 15px
        @media tablet
            display block
            color fontGreys
            ff(light_f,1.6)
            padding-right 15px
    span
        display none
        @media phone
            display block
            color fontGreys
            ff(bold,1.6)
            padding-top 20px
            padding-right 15px
            a
                display inline-block
                margin-right 15px
        @media tablet
            display block
            color fontGreys
            ff(bold,1.6)
            padding-top 20px
            padding-right 15px
            a
                display inline-block
                margin-right 15px
.cartShippinTypeFormItemText
    display table-cell
    width 28%
    margin-left 14px
    ff(bold,1.8,2.2)
    vertical-align middle
    i
        padding-left 4px
        ff(rubl,1.6,1.8)
    @media phone
        vertical-align top
    @media tablet
        vertical-align top

.cartShippinTotal
    display block
    sf()
    @media phone
        margin 0 20px
    @media tablet
        margin 0 20px

.cartShippinTotalHeader
    ff(bold,1.8,2.2)
    padding 0px 20px 0px
    margin-bottom 10px
    sf()
    @media phone
        column(3/12)
    @media tablet
        column(3/12)
        padding-top 10px
        padding-left 20px
.cartShippinTotalItems
    display block
    padding 0px 20px 0px

    margin-bottom 25px
    sf()
    @media phone
        column(9/12)
    @media tablet
        column(9/12)
.cartShippinTotalItem
    display table
    width 100%
    vertical-align middle
    margin-bottom 10px
    sf()
    @media phone
        display block
        width auto
    @media tablet
        display block
        width auto
.cartShippinTotalItemName
    display table-cell
    vertical-align middle
    width 58%
    ff(normal,1.6,2.0)
    @media phone
        ff(normal,1.8,2.2)
        column(5/9)
    @media tablet
        ff(normal,1.8,2.2)
        column(5/9)
.cartShippinTotalItemAmount
    display table-cell
    vertical-align middle
    ff(bold,1.8,2.2)
    width 28%
    padding-left 5px
    vertical-align middle
    i
        padding-left 4px
        ff(rubl,1.6,1.8)
    @media phone
        column(4/9)
        ff(bold,1.9,2.2)
        i
            padding-left 5px
            ff(rubl,1.7,1.9)
    @media tablet
        column(4/9)
        ff(bold,1.9,2.2)
        i
            padding-left 5px
            ff(rubl,1.7,1.9)
.cartShippinTotalSumma
    display table
    width 100%
    padding 0px 0px 35px
    margin 0 20px
    sf()
    @media phone
        column(9/12,3/12)
        &:last-child
            margin-bottom 20px
    @media tablet
        column(9/12,3/12)
        padding-right 20px
.cartShippinTotalSummaName
    display table-cell
    vertical-align middle
    width 60%
    ff(bold,1.8,2.2)
    @media phone
        column(5/9)
        ff(bold,2.4,2.8)
        margin-bottom 20px
    @media tablet
        column(5/9)
        ff(bold,2.4,2.8)
        margin-bottom 20px
.cartShippinTotalSummaAmount
    display table-cell
    vertical-align middle
    padding-left 24px
    width 40%
    ff(bold,1.8,2.2)
    i
        padding-left 4px
        ff(rubl,1.6,1.8)
    @media phone
        ff(bold,2.4,2.8)
        column(4/9)
        i
            padding-left 6px
            ff(rubl,2.1,2.8)
    @media tablet
        ff(bold,2.4,2.8)
        column(4/9)
        i
            padding-left 6px
            ff(rubl,2.1,2.8)

.cartShippinLine
    display block
    width 100%
    height 4px
    margin 0 20px
    background-color borderGreys
    sf()