extends _layout

block content
    .container
        .cartMobileInfo
            .cartMobileInfoButton
            .cartSidebarHeader
                | Нужна помощь?
            .cartSidebarText
                p Мы всегда рады ответить на ваши вопросы. Выберите удобный вам способ:
            .cartSidebarItem
                .cartSidebarItemNumber 1
                .cartSidebarItemText
                    | Звоните нам:
                    b </br>8 800 200 5000
            .cartSidebarItem
                .cartSidebarItemNumber 2
                .cartSidebarItemText
                    | Оставьте свой номер, и мы вам перезвоним.</br>
                    input.inputBlueBorder(placeholder="+7")
            .cartSidebarItem
                .cartSidebarItemNumber 3
                .cartSidebarItemText
                    | Свяжитесь по Skype:</br>
                    a(href="#") kiteworld
            .cartSidebarItem
                .cartSidebarItemNumber 4
                .cartSidebarItemText
                    | Напишите нам:</br>
                    a(href="#") info@kiteworld.ru
            .cartSidebarItem
                .cartSidebarItemNumber 5
                .cartSidebarItemText
                    | Задайте свой вопрос</br>  нашим сотрудникам</br>
                    button.buttonSmallGreen Открыть чат
        .cart
            .cartHeader
                | Корзина
                .cartMobileInfoButton
            include block/cartItems
            include block/cartShipping
            include block/cartContact