extends _layout

block content
    .productPage.container
        include block/productPageBreadcrumbs
        include block/productPageCart
        .productPageMenuWrap
            .productPageMenu
                .productPageMenuItem.productPageMenuItemDescription
                    a(href="#Description") Описание
                .productPageMenuItem.productPageMenuItemReview
                    a(href="#Review") Обзоры
                .productPageMenuItem.productPageMenuItemFeedback
                    a(href="#Feedback") Отзывы
                .productPageMenuItem.productPageMenuItemTech
                    a(href="#Tech") Характеристики
                .productPageMenuItem.productPageMenuItemVideo
                    a(href="#Video") Видео
                .productPageMenuItem.productPageMenuItemPhoto
                    a(href="#Photo") Фото
                .productPageMenuItem.productPageMenuItemBrand
                    a(href="#Brand") О бренде
            .productPageContent
                include block/productPageDescription
                include block/productPageReview
                include block/productPageFeedback
                include block/productPageTech
                include block/productPageVideo
                include block/productPagePhoto
                include block/productPageBrand
        include block/productPageOtherProduct
        include block/productPageSaleble
    include block/bottomMenu
    include block/footer