.dropdown
    display inline-block
    width 100%
    min-width 100px
    height 50px
    ff(normal,1.6,1.6)
    background-color: lightGreys
    border-bottom 4px solid darkGreys
    padding 17px 15px
    bg(right 15px, top 19px)
    sf()

.dropdownPlaceholder
    display: inline-block
    color greys
.dropdownValue
    display: inline-block
    color black