.label
    display inline-block
    ff(normal,1.6)
    color greys
.labelDropdown
    @extend .label
    line-height 50px

.labelBlack
    display inline-block
    ff(bold,1.8)
    color balcks
.labelRadio
    display inline-block
    ff(light_f,1.6,2.0)
.labelCheckbox
    display table-cell
    ff(light_f,1.6)