.angular
    position: relative;
.productPage
    display block
    position relative
    padding 0px 0px
    sf()

.productPageContent
    col(1/1)
    margin-top 0 !important
    @media phone
        col(2/3)
        position relative
        float right
        sf()
    @media tablet
        col(2/3)
        margin-top 0 !important
        position relative
        float right
        sf()