.productList
    margin-top 40px
    display block
    padding 0px 20px
    sf()
.productListHeader
    display block
    width 100%
    sf()
.productListHeaderText
    column(8/12)
    padding-top 7px
    ff(bold,3.2,5)
    margin-bottom 30px
    sf()

.productListHeaderSort
    display none
    @media tablet
        column(4/12)

.productListItems
    display block
    sf()
    margin-bottom 30px


.productListItem
    column(1/1)
    position relative
    margin-bottom 30px
    @media phone
        column(1/3,cycle:3)
    @media tablet
        column(1/4,uncycle:3,cycle:4)
.productListItemElement
    display block
    sf()
    margin-bottom 10px

.productListItemBasicTriangle
    display block
    position absolute
    right 0
    border-style solid
    border-width 0 92px 92px 0
    border-color transparent greens transparent transparent

.productListItemGreenTriangle
    @extend .productListItemBasicTriangle
    border-color transparent greens transparent transparent

.productListItemRedTriangle
    @extend .productListItemBasicTriangle
    border-color transparent reds transparent transparent

.productListItemTriangleText
    display block
    position absolute
    transform rotate(45deg)
    top 18px
    right 0
    ff(bold,3.2,3.2)
    color whites

.productListItemImage
    img
        width 100%
.productListItemBrand
    ff(bold,1.8)

.productListItemModel
    ff(bold,2.6)

.productListItemPrice
    display block
    sf()

.productListItemFullPrice
    display inline-block
    margin-right 20px
    ff(bold,2.6)
    color blacks
    i
        padding-left 4px
        ff(rubl,2.3,2.6)

.productListItemSalePrice
    display inline-block
    ff(normal,1.8)
    color reds
    i
        padding-left 4px
        ff(rubl,1.6,1.8)
