.productPageOtherProduct
    display block
    background-color lightGreys
    padding-top 40px
    padding-bottom 20px
    z-index 10000
    sf()
.productPageOtherProductHeader
    display block
    padding 0px 20px
    margin-bottom 38px
    ff(bold,2.6,3)
    sf()
.productPageOtherProductItems
    display block
    padding 0px 20px
