.productPageTech
    display block
    sf()
.productPageTechHeader
    display block
    cursor pointer
    color links
    padding 0px 20px
    height 60px
    ff(bold,2.6,6)
    bg(right 20px)
    sf()
    @media phone
        display none
    @media tablet
        display none

.productPageTechHeaderActive
    background-color bgGrey
    color white
.productPageTechHeaderTablet
    display none
    @media phone
        display block
        position relative
        cursor pointer
        color blacks
        padding 60px 20px 40px
        ff(bold,3.6,3.6)
    @media tablet
        display block
        position relative
        cursor pointer
        color blacks
        padding 60px 20px 40px
        ff(bold,3.6,3.6)
.productPageTechHeaderTabletButton
    display block
    position absolute
    top 70px
    right 25px
    ff(icon,1.6,1.6)
    a
        color blacks
        &:hover
            text-decoration none
.productPageTechText
    display block
    sf()
    color fontGreys
    ff(normal,1.6,2,0)
    padding 40px 20px 0px
    p
        display block
        margin-bottom 20px
        sf()
    @media phone
        padding-top 0px
    @media tablet
        padding-top 0px
.productPageTechItem
    display table
    margin-bottom 30px
    col(1/1)
    sf()
    @media phone
        col(1/2,cycle:2)
    @media tablet
        col(1/2,cycle:2)
.productPageTechItemImage
    display table-cell
    vertical-align top
    width 60px
    img
        height 60px
        width 60px

.productPageTechItemText
    display table-cell
    vertical-align top
    width 100%
    padding-left 20px
    b
        display block
        color blacks
