.bottomMenu
    .bottomMenuLeft
        .bottomMenuItem
            a(href="#") Магазин
        .bottomMenuItemSubItem
            a(href="#") Кайты
        .bottomMenuItemSubItem
            a(href="#") Кайтборды и аксессуары
        .bottomMenuItemSubItem
            a(href="#") Трапеции
        .bottomMenuItemSubItem
            a(href="#") Сноукайтборды и аксессуары
        .bottomMenuItemSubItem
            a(href="#") Гидроодежда
        .bottomMenuItemSubItem
            a(href="#") Защита
        .bottomMenuItemSubItem
            a(href="#") Одежда
        .bottomMenuItemSubItem
            a(href="#") Аксессуары
        .bottomMenuItemSubItem
            a(href="#") Распродажа
                i -65%
    .bottomMenuRight
        .bottomMenuItem
            a(href="#") Новости
        .bottomMenuItem
            a(href="#") Оборудование
        .bottomMenuItem
            a(href="#") Школа
        .bottomMenuItem
            a(href="#") Туры
        .bottomMenuItem
            a(href="#") Стол заказов
        .bottomMenuItem
            a(href="#") Контакты
        .bottomMenuSocial
            a(href="#") &#xe003
            a(href="#") &#xe001
            a(href="#") &#xe002
            a(href="#") &#xe008
            a(href="#") &#xe004