.footer
    .footerHeader
        | KiteWorld
        i © 2014
    .footerText
        | Интернет-магазин товаров для кайтбординга, кайтсерфинга, сноукайтинга и других водных видов спорта.
    .footerContact
        | 8 800 200 6000
        a(href="mailto:mail@kiteworld.ru") mail@kiteworld.ru