.productPageReview#Review
    .productPageReviewHeader.productPageReviewHeaderActive
        | Обзоры
    .productPageReviewHeaderTablet
        | Обзоры
        .productPageReviewHeaderTabletButton
            a(href="#top") &#xe00E
    .productPageReviewAutorDesktopTabs
            button.productPageReviewAutorDesktopTab.productPageReviewAutorDesktopTabActive#tab-1 Kiteword
            button.productPageReviewAutorDesktopTab#tab-2 Школа
    .productPageReviewText
        .productPageReviewAutor
            mixin dropdown("Автор:","Денис Музалевский")
        .productPageReviewAutorDesktopTabsContainer
            .productPageReviewAutorDesktopText#tab-1
                p North Vegas 2013 - кайт предназначенный для катания как в стиле фристайл на крюке, так и с возможностью катания анхук.
                p На куполе предусмотрены две плечевые настройки центральных строп - фристайл\вэйкстайл.
                p Вегас обладает очень мощным кайтлупом с практически ровной тягой, кайт хорошо выходит вверх. Кайт очень быстр и требует постоянного внимания к себе.
            .productPageReviewAutorDesktopText#tab-2
                p При настройке «фристайл» у кайта больше ветровой диапазон, по своим летным качествам Vegas 2013 становится ближе к кайтам гибридным фрирайдного толка, он лучше отрабатывает порывы, позволяет кататься в более сильный ветер благодаря расширенному ветровому диапазону. В этой настройке North Vegas 2013 отлично проявляет себя при катании на крюке особенно в средний и сильный ветер, когда прыжки с заводом кайта на нем становятся с мощным подхватом, но кайт не становится излишне резким, полет через все ветровой окно остается плавным и предсказуемым, вообще, некоторая плавность в управлении по сравнению с другими фристайл-кайтами — заметная черта нового Vegas.
                p Вегас обладает очень мощным кайтлупом с практически ровной тягой, кайт хорошо выходит вверх. Кайт очень быстр и требует постоянного внимания к себе.