.productPageTech#Tech
    .productPageTechHeader.productPageTechHeaderActive
        | Характеристики
    .productPageTechHeaderTablet
        | Характеристики
        .productPageTechHeaderTabletButton
            a(href="#top") &#xe00E
    .productPageTechText
        .productPageTechItem
            .productPageTechItemImage
                img(src="img/techIcon.jpg", alt="")
            .productPageTechItemText
                b Фристайл на крюке
                p Отлично пуляет в воздух, долгое зависание.
        .productPageTechItem
            .productPageTechItemImage
                img(src="img/techIcon.jpg", alt="")
            .productPageTechItemText
                b Фристайл на крюке
                p Быстро крутится, мощно и мягко крутятся кайтлупы, выходит в 12 и подхватывает для мягкого приземления.
        .productPageTechItem
            .productPageTechItemImage
                img(src="img/techIcon.jpg", alt="")
            .productPageTechItemText
                b Фристайл на крюке
                p Отлично пуляет в воздух, долгое зависание.
        .productPageTechItem
            .productPageTechItemImage
                img(src="img/techIcon.jpg", alt="")
            .productPageTechItemText
                b Фристайл на крюке
                p Быстро крутится, мощно и мягко крутятся кайтлупы, выходит в 12 и подхватывает для мягкого приземления.