mixin productCategoryItem(colors,name,price,img)
            div(class="productCategoryItemMobile#{colors}")
                .productCategoryItemText
                    .productCategoryItemTextHeader= name

                    .productCategoryItemTextPrice
                        | от #{price}
                        i г
                .productCategoryItemImage
                    .productCategoryItemImageWrap(style="background-image:url('#{img}')")