.topMenu
    display none
    position absolute
    top 80px
    right 0px
    background-color bgMenu
    padding 0px 20px 40px 20px
    z-index 10000
    width 100%
    sf()
.topMenuOpen
    display block
    sf()

.topMenuLeft,
.topMenuRight
    col(1/1)
    @media phone
        col(1/2)
    @media tablet
        col(1/2)
.topMenuItem
    display block
    margin-top 20px
    sf()
    a
        color whites
        ff(bold,2.4,2.4)
        &:hover
            text-decoration none
        i
            color lightReds
            padding-left 5px
            font-style normal

.topMenuItemSubItem
    @extend .topMenuItem
    padding-left 10px
    a
        color fontLightGreys
        ff(bold,1.8,2.4)

.topMenuFull
    display none
    position absolute
    top 80px
    right 0px
    background-color bgMenu
    padding 0px 0px 40px 0px
    z-index 6000
    width 100%
    sf()
.topMenuFullOpen
    display block
    sf()
.topMenuFullColumnFirst
    col(1/6,1/6)
.topMenuFullColumn
    col(1/6)
.topMenuFullItem
    display block
    margin-top 20px
    sf()
    a
        color whites
        ff(bold,2.0,2.4)
        &:hover
            text-decoration none
        i
            display inline-block
            color lightReds
            padding-left 5px
            font-style normal

.topMenuFullItemSubItem
    @extend .topMenuFullItem
    a
        color fontLightGreys
        ff(normal,1.6,2.4)
.topMenuFullItemSubItemLast
    margin-bottom 40px
