.productPageDescription
    display block
    sf()
.productPageDescriptionHeader
    display block
    cursor pointer
    color links
    padding 0px 20px
    height 60px
    ff(bold,2.6,6)
    bg(right 20px)
    sf()
    @media phone
        display none
    @media tablet
        display none
.productPageDescriptionHeaderActive
    background-color bgGrey
    color white
.productPageDescriptionHeaderTablet
    display none
    @media phone
        display block
        position relative
        cursor pointer
        color blacks
        padding 0px 20px
        height 60px
        ff(bold,3.6,6)
    @media tablet
        display block
        position relative
        cursor pointer
        color blacks
        padding 0px 20px
        height 60px
        ff(bold,3.6,6)
.productPageDescriptionHeaderTabletButton
    display block
    position absolute
    top 23px
    right 25px
    ff(icon,1.6,1.6)
    a
        color blacks
        &:hover
            text-decoration none
.productPageDescriptionText
    display block
    sf()
    color fontGreys
    ff(normal,1.6,2,0)
    padding 40px 20px 0px
    margin-bottom 40px
    p
        display block
        margin-bottom 20px
        sf()