.header
    display: block
    height: 80px
    background-color: #1a1a1a
    sf()
.headerLeft
    span(1/2)
    @media tablet
        span(4/12)
.headerLogo
    span(1/1)
    height: 80px
    position relative
    a
        display block
        position absolute
        padding-left: 20px
        width: 100%
        height: 80px
        bg(left 20px,center)
        background-size: 105px 70px
        z-index 9999
    @media tablet
        span(4/7)
        padding-top: 25px
    @media laptop
        span(3/7)
        padding-top: 25px
.headerContact
    display: none
    @media tablet
        span(3/7)
        padding-top: 20px
    @media laptop
        span(4/7)
        padding-top: 20px
    sf()

.headerContactPhone
    display: block
    color: whites
    margin-bottom: 5px
    ff(normal,1.5,1.5)
    @media laptop
        ff(normal,1.8,1.8)

.headerContactEmail
    display: block
    ff(normal,1.4,1.6)
    a
        color links
        text-decoration: none
    @media laptop
        ff(normal,1.8,1.8)
.headerRight
    span(1/2)
    text-align: right
    @media tablet
        span(8/12)
.headerMenu
    display: none
    @media tablet
        display: block
        text-align: right
        padding-right: 20px
.headerMenuItem
    display: inline-block
    ff(bold,2.0,2.0)
    margin-right: 10px
    position relative
    a
        display inline-block
        color whitesmoke
        text-decoration: none
        height 80px
        padding 30px 10px 0px
    @media tablet
        ff(bold,1.6,1.6)
        margin-right: 0px
        a
            padding 30px 7px 0px
    @media laptop
        ff(bold,2.0,2.0)
        margin-right: 10px
.headerMenuItemShopActive
    background-color bgMenu

.headerMobileCart
    display: inline-block
    position relative
    a
        display: block
        width: 75px
        height: 80px
        bg()
        background-size: 38px 38px
    @media tablet
        display: none

.headerMobileMenuButton
    display: inline-block
    a
        display: block
        width: 75px
        height: 80px
        bg()
        background-size: 38px 38px
    @media tablet
        display: none
.headerMobileMenuButtonActive
    a
        background-color bgMenu

.headerCartBadge
    display block
    height 36px
    width 36px
    ff(bold,1.8,1.8)
    color whites
    position absolute
    border-radius 50%
    right 0px
    top 5px
    border 2px solid #353535
    @media tablet
        right -26px
        top 5px
    a
        display block
        position absolute
        top -1px
        left 0px
        height 33px
        width 33px
        padding 8px 0px 0px
        background-color reds
        border-radius 50%
        text-align center
        color whites
        background-image none !important
        &:hover
            text-decoration none
