// Mixin for font load


defaultFont = 'Helvetica', sans-serif;
fontPath = "../fonts/"

fontload(fontFile,fontName,fontWidth,fontStyle)
    @font-face
        font-family fontName
        src url(fontPath fontFile '.eot')
        src url(fontPath fontFile '.eot?#iefix') format('embedded-opentype'),
            url(fontPath fontFile '.ttf')  format('truetype'),
            url(fontPath fontFile '.svg#09be4bfe8975a657af6444a6f1d73848') format('svg')
        font-style fontStyle
        font-weight fontWidth


fontload('ProximaNova-Regular',ProximaNova-Regular,normal, normal)
fontload('Proxima-Nova-Bold',ProximaNova-Bold,normal, normal)
fontload('Proxima-Nova-Light',ProximaNova-Light,normal, normal)
fontload('RUBSN',RUBSN,normal, normal)
fontload('KWFont',KWFont,normal, normal)
ff(fontfamaly = defaultFont,fsz=1.6,lhsz=normal)
    if fontfamaly == defaultFont
        font-family defaultFont, sans-serif;
        font-size unit(fsz,rem)
        line-height normal
        font-weight 400
        font-style normal

    if fontfamaly == 'normal'
        font-family "ProximaNova-Regular", sans-serif;
        font-size unit(fsz,rem)
        if (lhsz != 'normal')
            line-height unit(lhsz,rem)
        else
            line-height normal

        font-weight normal
        font-style normal
    if fontfamaly == 'light_f'
        font-family "ProximaNova-Light", sans-serif;
        font-size unit(fsz,rem)
        if (lhsz != 'normal')
            line-height unit(lhsz,rem)
        else
            line-height normal

        font-weight normal
        font-style normal
    if fontfamaly == 'bold'
        font-family "ProximaNova-Bold", sans-serif;
        font-size unit(fsz,rem)
        if (lhsz != 'normal')
            line-height unit(lhsz,rem)
        else
            line-height normal

        font-weight normal
        font-style normal

    if fontfamaly == 'rubl'
        font-family "RUBSN", sans-serif;
        font-size unit(fsz,rem)
        if (lhsz != 'normal')
            line-height unit(lhsz,rem)
        else
            line-height normal

        font-weight normal
        font-style normal
    if fontfamaly == 'icon'
        font-family "KWFont", sans-serif;
        font-size unit(fsz,rem)
        if (lhsz != 'normal')
            line-height unit(lhsz,rem)
        else
            line-height normal

        font-weight normal
        font-style normal
