.icheckbox
    display inline-block
    vertical-align middle
    cursor pointer
    width 24px
    height 24px
    border 2px solid #bfbfbf
    border-radius 0px
    background-color #fff
    margin-right 15px
    sf()
.icheckbox
    &.hover
        background #fff
    &.checked
        position relative
        background-color #00d700
        border-color #00b900
        &:before
            display block
            position absolute
            height 18px
            width 18px
            content ""
            top 1px
            left 1px
            bg()
    &.disabled
        background none
        cursor default
    &.focus
        border-color darken(#d5d4cd, 20%)

.iradio
    display inline-block
    vertical-align middle
    width 24px
    height 24px
    border-radius 12px
    border 2px solid #bfbfbf
    cursor pointer
    float left
    margin-right 10px
    background-color #FFF
    sf()
.iradio
    &.hover
        border 1px solid quartz
    &.checked
        position relative
        background-color #00AEFF
        border-color #0094d9
        &:before
            display block
            position absolute
            height 10px
            width 10px
            content ""
            top 5px
            left 5px
            border-radius 5px
            background-color #000
        &.disabled
            background-position -216px 0
    &.disabled
        background-position -192px 0
        cursor default

