.bx-wrapper
    position relative
    margin 0 auto 60px
    padding 0
    *zoom 1
    img
        max-width 100%
        display block
    .bx-viewport
        left 0px
        background #fff
        transform translatez(0)
    .bx-loading
        min-height 50px
        background url(images/bx_loader.gif) center center no-repeat #fff
        height 100%
        width 100%
        position absolute
        top 0
        left 0
        z-index 2000
    .bx-pager
        text-align center
        font-size .85em
        font-family Arial
        font-weight bold
        color #9ea7ac
        padding-top 20px
        display block
        position relative
        &.bx-default-pager
            a
                background-color #666
                text-indent -9999px
                display block
                padding-top 1px
                width 11px
                height 11px
                margin 0px 5px
                outline 0
                border-radius 8px
                border 3px solid transparent
                &:hover
                    background-color #666 !important
            a.active
                width 13px
                height 13px
                padding-top 2px
                border 3px solid whites
                border-radius 8px
                background-color greens !important
    .bx-prev
        left 0px
        display block
        width 30px
        height 30px
        background-clip padding-box
        bg()

    .bx-next
        right 0px
        display block
        width 30px
        height 30px
        background-clip padding-box
        bg()

    .bx-controls-direction
        a
            position absolute
            top 50%
            margin-top -16px
            outline 0
            width 32px
            height 32px
            text-indent -9999px
            z-index 5555
            &.disabled
                display none
    .bx-controls-auto
        text-align center
        .bx-start
            display block
            text-indent -9999px
            width 10px
            height 11px
            outline 0
            background url(images/controls.png) -86px -11px no-repeat
            margin 0 3px
        .bx-stop
            display block
            text-indent -9999px
            width 9px
            height 11px
            outline 0
            background url(images/controls.png) -86px -44px no-repeat
            margin 0 3px
    .bx-controls
        &.bx-has-controls-auto
            &.bx-has-pager
                .bx-pager
                    text-align left
                    width 80%
                .bx-controls-auto
                    right 0
                    width 35px
    .bx-caption
        position absolute
        bottom 0
        left 0
        background #666\9
        background rgba(80, 80, 80, 0.75)
        width 100%
        span
            color #fff
            font-family Arial
            display block
            font-size .85em
            padding 10px

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto
    position absolute
    bottom -30px
    width 100%

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item
    display inline-block
    *zoom 1
    *display inline

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active
    background #000

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active
    background-position -86px 0

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active
    background-position -86px -33px

