.textarea
    display block
    ff(normal,1.6,2.0)
    border 2px solid borderGreys
    padding 10px
    width 100%
    -webkit-appearance none
    border-radius 0
    sf()
    &:focus
        outline 0px

.textareaGreyBorder
    @extend .textarea
    ff(light_f,1.6)
    border 2px solid  #bfbfbf