.productPageVideo
    display block
    sf()
.productPageVideoHeader
    display block
    cursor pointer
    color links
    padding 0px 20px
    height 60px
    ff(bold,2.6,6)
    bg(right 20px)
    sf()
    @media phone
        display none
    @media tablet
        display none
.productPageVideoHeaderTablet
    display none
    @media phone
        display block
        position relative
        cursor pointer
        color blacks
        padding 60px 20px 40px
        ff(bold,3.6,3.6)
    @media tablet
        display block
        position relative
        cursor pointer
        color blacks
        padding 60px 20px 40px
        ff(bold,3.6,3.6)
.productPageVideoHeaderTabletButton
    display block
    position absolute
    top 70px
    right 25px
    ff(icon,1.6,1.6)
    a
        color blacks
        &:hover
            text-decoration none
.productPageVideoText
    display block
    sf()
    color fontGreys
    ff(normal,1.6,2,0)
    padding 40px 0px 0px
    margin-bottom 40px
    p
        display block
        margin-bottom 20px
        sf()
    @media phone
        padding-top 0px
    @media tablet
        padding-top 0px
.productPageVideoTextIframe
    display block
    height 300px
    @media tablet
        height 450px
