.footer
    display block
    background-color blacks
    padding 40px 20px 60px
    sf()
.footerHeader
    color whites
    ff(normal,1.6,2.2)
    margin-bottom 10px
    i
        font-style normal
        padding-left 5px
        color fontDarkGreys

.footerText
    ff(normal,1.6,2.2)
    color fontDarkGreys
    margin-bottom 30px
.footerContact
    color whites
    ff(normal,1.6,2.2)
    a
        padding-left 20px
        color whites
        &:hover
            text-decoration none